.md-button {
  cursor: pointer;
  display: inline-block;
  height: 46px;
  line-height: 40px;
  width: 285px;
  background-color: #FFFFFF;
  border: 3px solid #606DB8;
  color: #606DB8;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  transition: $duration-normal $ease-out-expo;

  &:hover {
    background-color: #606DB8;
    color: #FFFFFF;
  }

  &[disabled=disabled] {
    cursor: default;
    opacity: 0.5;
  }
}
