.md-section {
  position: relative;
  overflow: hidden;
  padding-top: 85px;
  padding-bottom: 90px;

  @media screen and (max-width: 640px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &.gray {
    background-color: #EAEAEA;
  }

  &.darkgray {
    background-color: #6A7886;

    > .md-section-inner > h2 {
      color: #FFFFFF;
    }
  }

  &.navy {
    background-color: $basecolor;
    color: #FFFFFF;

    > .md-section-inner > h2 {
      color: #FFFFFF;
    }
  }

  @media screen and (max-width: 840px) {
    br {
      display: none !important;
    }
  }
}

.md-section-inner {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  > h2 {
    font-size: 30px;
    color: $basecolor;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: normal;
    text-align: center;

    @media screen and (max-width: 640px) {
      line-height: 1;
      font-size: 40px;
    }

    > span {
      display: block;
      font-size: 20px;
      font-family: sans-serif;

      @media screen and (max-width: 640px) {
        margin-top: 8px;
        font-size: 14px;
      }
    }

    & + * {
      margin-top: 36px;

      @media screen and (max-width: 840px) {
        margin-top: 30px !important;
        text-align: left;
      }
    }

  }

  @media screen and (max-width: 1000px) {
    width: auto;
  }
}

.md-section-description {
  line-height: 2;
  text-align: center;

  &.intro {
    font-size: 32px;

    @media screen and (max-width: 780px) {
      font-size: 26px;
    }

    @media screen and (max-width: 660px) {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 640px) {
    font-size: 14px;
  }
}

.md-section-description + .md-section-description {
  margin-top: 0.8em;
  text-align: left;
}

.md-section-body {
  font-size: 20px;

  > p + p {
    margin-top: 1.8em;
  }

  * + & {
    margin-top: 40px;
  }
}
